<style>

    /***test*/

    .sidebar-menu > li:hover > a  {
        background-color: #F7F6F3!important;
    }
    /***test*/

    .sidebar-menu li i {
        color: gray;
        font-size: 15px;

    }

    .sidebar-menu > li > a {
        padding: 3px 5px 3px 15px;
    }

    .sidebar-menu li span {
        color: gray;
        font-size: 15px;
        font-weight: normal;
    }

    .sidebar-menu li > a > .fa-caret-right,
    .sidebar-menu li > a > .pull-right-container > .fa-caret-right {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }


    .sidebar-menu .menu-open > a > .fa-caret-right,
    .sidebar-menu .menu-open > a > .pull-right-container > .fa-caret-right {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .sidebar-menu li > a > .pull-right-container {
        position:unset;
        top: 50%;
        margin: 0px 0 0 2px;
    }


    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        position: relative !important;
        float: right;
        width: auto !important;
        left: 180px !important;
        top: -5px !important;
        z-index: 900;
    }

    .treeview-menu li {
        background-color: #F7F6F3;
    }


    .treeview-menu > li > a:hover > span {
        font-weight: 600 !important;
        background: #E8E7E4 !important;
    }


    .treeview-menu > li:hover {
        background: #E8E7E4 !important;
    }

    .sidebar-menu {
        background-color: #F7F6F3 !important;
    }

    .sidebar-menu > li:hover > a > span {
        font-weight: 600 !important;

    }

        .sidebar-menu > li > a:hover {
            background: #E8E7E4 !important;
        }


    .sidebar-menu > li > a > i {
        color: #AAA9A5;
        margin: 0 6px 0 6px;
    }

    .sidebar-menu > li > a > span > i {
        color: #AAA9A5;
    }

    .sidebar-menu > li > a > span {
        color: #72706B;
    }
    .sidebar-menu > li > i {
        color: #AAA9A5;
        margin: 0 6px 0 6px;
    }

    .menu-item-active {
      
        background: #E8E7E4 !important;
    }

    .menu-item-active > a > span {
            font-weight: 600 !important;
        }

</style>

<div class="container animate-transition-relative"> 
<img src='~/dist/img/Clairvoyance Logo2.png' style='height:78px; width:200px'>
</div>
<ul class="sidebar-menu" data-widget="tree" id="side-menu">
    <li class="header " style="background-color: #F7F6F3; font-size:14px"><i class="far fa-home"></i>Home</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="menu-item">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <i class="far fa-search"></i> <span>Quick Find</span>
        </a>
    </li>

    <li class="header" style="background-color: #F7F6F3; font-size:14px"><i class="fas fa-bars"></i>Main</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="menu-item" id="eKYCSearch-Quant" >
        <a href="~/Clairvoyance/eKYC/eKYCSearch?NavItem=Quant">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <!--<i class="far fa-user">--><img class="img-circle" src="~/dist/img/others.jpg" style="width:20px; height:20px; margin: -2px 5px 0 4px" /></i> <span>Quant Onboarding</span>
        </a>
    </li>
     <li class="menu-item" id="eKYCSearch-Exp" >
        <a href="~/Clairvoyance/eKYC/eKYCSearch?NavItem=Exp">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
             <img class="img-circle" src="~/dist/img/exponential.jpg" style="width:20px; height:20px; margin: -2px 5px 0 4px" /> <span>Exponential Application</span>
        </a>
    </li>
        <li class="menu-item" id="eKYCSearch-Ultron" >
        <a href="~/Clairvoyance/eKYC/eKYCSearch?NavItem=Ultron">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <img class="img-circle" src="~/dist/img/icon-ultron.png" style="width:30px; height:30px; margin: -2px 2px 0 -3px;" /> <span>Ultron Application</span>
        </a>
    </li>
    <li class="treeview menu-item">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <i class="far fa-desktop"></i> <span>Ongoing Due Diligence</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <i class="far fa-list-alt"></i> 
            <span>ML/TF</span>
        </a>
        <ul class="treeview-menu">
            <li class="menu-item"> 
                <a href="#">
                    <i class="far fa-list"></i>
                    <span> Transaction 1</span> 
                </a>
            </li>
            <li class="menu-item"> <a href="#"><i class="far fa-tag"></i> <span> Transaction 2 </span></a></li>
        </ul>
    </li>
    <li class="treeview menu-item">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <i class="far fa-desktop"></i> <span>Tx Monitoring</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>
    <li class="treeview menu-item">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <i class="far fa-folder"></i> <span>List Maintenance</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>
    <li class="treeview menu-item">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span><i class="far fa-users"></i> <span>FP Maintenance</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>
    <li class="treeview menu-item" id="eKYCDetailcheck">
        <a href="#">
            <span class="pull-right-container">
                <i class="far fa-caret-right"></i>
            </span>
            <i class="far fa-list-alt"></i> <span>Layout</span>
        </a>
        <ul class="treeview-menu ">
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail14200"><i class="far fa-font"></i> <span>14px boldness:200</span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail14300"><i class="far fa-font"></i> <span>14px boldness:300 </span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail14500"><i class="far fa-font"></i> <span>14px boldness:400 </span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail15200"><i class="far fa-font"></i> <span>15px boldness:200</span>  </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail15300"><i class="far fa-font"></i> <span>15px boldness:300 </span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail15500"><i class="far fa-font"></i> <span>15px boldness:400 </span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail16200"><i class="far fa-font"></i> <span>16px boldness:200</span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail16300"><i class="far fa-font"></i> <span>16px boldness:300 </span> </a></li>
            <li class="menu-item"> <a href="~/Clairvoyance/eKYC/eKYCDetail16500"><i class="far fa-font"></i> <span>16px boldness:400 </span> </a></li>
        </ul>
    </li>

    
    <!--
    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span>
            <i class="fa fa-database"></i> <span>Maintenance</span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="~/Clairvoyance/TaskDataRequisition/Index"><i class="fa fa-list"></i> Inquiry Data Requisition </a></li>
            <li> <a href="#"><i class="fa fa-database"></i>Prepare Data </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i> <span>Configuration</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="~/Configuration/Optmaster/Index"><i class="fa fa-cog"></i> Option Master </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-lock"></i> <span>Security</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="~/Security/Usermaster/Index"><i class="fa fa-user-circle"></i> User Master </a></li>
            <li> <a href="~/Security/RoleMaster/Index"><i class="fa fa-bell-o"></i>Role Master </a></li>
            <li> <a href="~/Security/TransactionMaster/Index"><i class="fa fa-list"></i>Transaction Master </a></li>
        </ul>
    </li>
        -->
</ul>


<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("side-menu");
    var menu = header.getElementsByClassName("menu-item");
    for (var i = 0; i < menu.length; i++) {
        menu[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("menu-item-active");
            current[0].className = current[0].className.replace(" menu-item-active", "");
            this.className += " menu-item-active";
            filter = this.innerText;
         

        });
    }
</script>