<style>

    .sidebar-menu li i {
        color: gray;
        font-size: 13px;
    }

    .sidebar-menu > li > a {
        padding: 2px 5px 2px 15px;
    }

    .sidebar-menu li span {
        color: gray;
        font-size: 13px;
    }

    .sidebar-menu li > a > .fa-caret-right,
    .sidebar-menu li > a > .pull-right-container > .fa-caret-right {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }


    .sidebar-menu .menu-open > a > .fa-caret-right,
    .sidebar-menu .menu-open > a > .pull-right-container > .fa-caret-right {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .sidebar-menu li > a > .pull-right-container {
        position:unset;
        top: 50%;
        margin: -7px 0 0 2px;
    }


    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        position: relative !important;
        float: right;
        width: auto !important;
        left: 180px !important;
        top: -5px !important;
        z-index: 900;
    }

    .sidebar-menu > li:hover > .treeview-menu {
        background: #E8E7E4;
    }

    .sidebar-menu > li > a:hover {
        background: #E8E7E4 !important;
    }

    .sidebar-menu > li > a > i {
        color: #AAA9A5;
    }

        .sidebar-menu > li > a > span > i {
        color: #AAA9A5;
    }

    .sidebar-menu > li > a > span {
        color: #72706B;
    }
</style>

<ul class="sidebar-menu" data-widget="tree">
    <li class="header" style="background-color: #F7F6F3">Main</li>
    <!-- Optionally, you can add icons to the links -->
    <li >
        <a href="~/Clairvoyance/eKYC/eKYCSearch">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span>
            <i class="fa fa-address-card"></i> <span>e-KYC</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span>
            <i class="fa fa-user-secret"></i> <span>ML/TF</span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="#"><i class="fa fa-list"></i><span> Transaction 1</span> </a></li>
            <li> <a href="#"><i class="fa fa-tag"></i> <span>Transaction 2 </span></a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span>
            <i class="fa fa-eye"></i> <span>Tx Monitoring</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span>
            <i class="fa fa-list"></i> <span>List Maintenance</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span><i class="fa fa-tags"></i> <span>FP Maintenance</span>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li>
    <!--
    <li class="treeview">
        <a href="#">
            <span class="pull-right-container">
                <i class="fa fa-caret-right"></i>
            </span>
            <i class="fa fa-database"></i> <span>Maintenance</span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="~/Clairvoyance/TaskDataRequisition/Index"><i class="fa fa-list"></i> Inquiry Data Requisition </a></li>
            <li> <a href="#"><i class="fa fa-database"></i>Prepare Data </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i> <span>Configuration</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="~/Configuration/Optmaster/Index"><i class="fa fa-cog"></i> Option Master </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-lock"></i> <span>Security</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li> <a href="~/Security/Usermaster/Index"><i class="fa fa-user-circle"></i> User Master </a></li>
            <li> <a href="~/Security/RoleMaster/Index"><i class="fa fa-bell-o"></i>Role Master </a></li>
            <li> <a href="~/Security/TransactionMaster/Index"><i class="fa fa-list"></i>Transaction Master </a></li>
        </ul>
    </li>
        -->
</ul>
