

<div class="form-container">

    <div class="box-header with-border">
        <span onclick="closeMessage()" class="close" title="Close Override">&times;</span>
        <h4 style="text-align: left;">Message</h4>
    </div>
    <div class="box-body">
        <div id="errormessage" style="background-color: antiquewhite ;border-radius: 10px; ">
            <div class="row" style=" display: flex; align-items: center; justify-content: left">
                <div class="col-lg-1">
                    <div class="icon" style="color:firebrick; font-size: 40px; padding-left:20px">
                        <i class="fa fa-warning"></i>
                    </div>
                </div>
                <div class="col-lg-11">
                    <span  style="color: firebrick; overflow: hidden">@Html.Raw(ViewBag.message)</span>
                </div>
            </div>

        </div>
        <div id="infomessage" style="background-color:#A2E1DB; border-radius: 10px; ">
            <div class="row" style=" display: flex; align-items: center; justify-content: left">
                <div class="col-lg-1">
                    <div class="icon" style="color: darkgreen; font-size: 40px; padding-left: 20px;">
                        <i class="fa fa-check-circle"></i>
                    </div>
                </div>
                <div class="col-lg-11">
                    <span  style=" color: darkgreen; overflow: hidden">@Html.Raw(ViewBag.message)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn" onclick="closeMessage()" style="float:right">Close</button>
    </div>
 </div>
    <script>
        var type = "@Html.Raw(ViewBag.type)";
        if (type == "E") {
            $("#errormessage").show();
            $("#infomessage").hide();

        }
        else {
            $("#errormessage").hide();
            $("#infomessage").show();
        }
    </script>
