<section class="content">
    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <div class="box-info" style="border-radius: 20px; border:1px solid #ccc; ">

                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-info" style="border-radius: 20px; border:1px solid #ccc; ">

                </div>
            </div>
        </div>

</section>