@model OneFin.Models.CFCustomer
<section class="content" style="display: flex ;justify-content: center; align-items: center;">
    <div class="row" >
        <div class="col-lg-6" >
                <div class="inner" style="min-height: 300px; min-width: 500px; padding: 20px 20px 20px 20px; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 180px; height: 180px;" class="img-circle" src="/sampleimg/images.jpg" />
                        </div>
                        <div class="col-lg-6">
                            <div style="padding-left:10px;">
                                <div style="font-size:15px; font-weight:bold; padding:5px 0 0 0">
                                    Baseline Photo<br />
                                </div>
                                <div style="font-size: 12px; padding-top:5px" ">
                                    Source <br /> NATIONAL IDENTITY CARD<br />
                                </div>
                                <div style="font-size: 12px; padding-top: 5px ">
                                    Date Taken <br /> 01-Dec-2021
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
        </div>
        <div class="col-lg-6">
                <div class="inner" style="min-height: 300px; min-width: 500px; padding: 20px 20px 20px 20px;; display: flex; align-items: center; justify-content: center;">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 180px; height: 180px;" class="img-circle" src="@Html.DisplayFor(model => model.IMGSource)" />
                        </div>
                        <div class="col-lg-6">
                            <div style="padding-left:10px;">
                                <div style="font-size:15px; font-weight:bold; padding-top:5px">
                                    Profile Avatar
                                </div>
                                <div style="font-size: 12px; padding-top: 5px">
                                    Comparison: <br />  NATIONAL IDENTITY CARD<br />
                                </div>
                                <div style="font-size: 12px; padding-top: 5px">
                                    Image Percentage: <br />10%<br />
                                </div>
                                <div style="font-size: 12px; padding-top: 5px">
                                    Location Taken: <br /> 111.3444,0555<br />
                                </div>
                                <div style="font-size: 12px; padding-top: 5px">
                                    Date Taken: <br /> 01-Dec-2021
                                </div>

                            </div>
                        </div>
                        </div>
                </div>
        </div>
    </div>
</section>