<form class="form-container pre-scrollablex">
    <div class="box-header ">
        <span onclick="closeFormHistory()" class="close" title="Close Override">&times;</span>
    </div>
    <div class="box-header">
        <h4><strong>OTP VALIDATION COUNT (PHONE)</strong></h4>
    </div>
    <div class="box-info" style="padding: 10px 10px 10px 20px ">
        <div class="border-bottom-cp">
            <h4><strong>32094892</strong></h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center">
                        OTP Sent
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Updated By
                    </th>
                    <th style="min-width:100px">
                        Last Update
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center">
                        3
                    </td>
                    <td >
                        FAIL
                    </td>
                    <td>
                        TESTING USER
                    </td>
                    <td>
                        05-JUL-21 12:42:45
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        1
                    </td>
                    <td>
                        FAIL
                    </td>
                    <td>
                        TESTING USER
                    </td>
                    <td>
                        05-JUL-21 12:42:45
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        1
                    </td>
                    <td>
                        FAIL
                    </td>
                    <td>
                        TESTING USER
                    </td>
                    <td>
                        05-JUL-21 12:42:45
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<script>
    var modal = document.getElementById('myForm');
    window.onclick = function (event) {
        if (event.target == modal) {
            closeFormHistory();
        }
    }
</script>