<form class="form-container pre-scrollable" >
    <div class="box-header ">
        <span onclick="closeFormHistory()" class="close" title="Close Override">&times;</span>
    </div>
    <div class="box-info" style="padding:10px 10px 10px 10px ">
        <div class="border-bottom-cp">
            <h4><strong>Registered to History</strong></h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Registered To
                    </th>
                    <th style="min-width:120px">
                        Start Date
                    </th>
                    <th style="min-width:120px">
                        End Date
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        HAIFAA AFIQAH BAZLA BINTI SUHAILI
                    </td>
                    <td>
                        25-Nov-2020
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        AZKIA BINTI AZUAN
                    </td>
                    <td>
                        25-Nov-2020
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<script>
    var modal = document.getElementById('myForm');
    window.onclick = function (event) {
        if (event.target == modal) {
            closeFormHistory();
        }
    }
</script>