@model OneFin.Models.CFCustomer
<section class="content pre-scrollablex" style="margin: 35px 5px 35px 5px; ">
    <div class="row" >
        <div class="col-lg-6" style="display:flex;  justify-content:center; min-height: 230px; float:left">
            <div style="float: left">
                <img style="width: 200px; height: 200px; " class="img-circle" src="/sampleimg/images.jpg" />
            </div>
            <div style="padding-left:30px; float:left">
                <div style="font-size:16px; font-weight:bold; padding:5px 0 0 0">
                    Baseline Photo<br />
                </div>
                <div style="font-size: 14px; padding-top:5px" ">
                    Source <br /> NATIONAL IDENTITY CARD<br />
                </div>
                <div style="font-size: 14px; padding-top: 5px ">
                    Date Taken <br /> 01-Dec-2021
                </div>
            </div>
        </div>

        <div  class="col-lg-6" style="display:flex;  justify-content:center; min-height: 230px; float:left; ">
            <div style="float: left;">
                <img style="width: 200px; height: 200px; " class="img-circle" src="@Html.DisplayFor(model => model.IM03_avatarImageURL)" />
            </div>
            <div style="padding-left: 30px; float: left; min-width: 200px ">
                <div style="font-size:16px; font-weight:bold; padding-top:5px">
                    Profile Avatar
                </div>
                <div style="font-size: 14px; padding-top: 5px">
                    Comparison: <br />  NATIONAL IDENTITY CARD<br />
                </div>
                <div style="font-size: 14px; padding-top: 5px">
                    Image Percentage: <br />10%<br />
                </div>
                <div style="font-size: 14px; padding-top: 5px">
                    Location Taken: <br /> 111.3444,0555<br />
                </div>
                <div style="font-size: 14px; padding-top: 5px">
                    Date Taken: <br /> 01-Dec-2021
                </div>

            </div>
            
        </div>

        </div>

</section>