<!DOCTYPE html>
@{
    ViewData["Title"] = "Index";
    var viewdata = ViewData["searchstring"];

}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
 /* Apple Tab */

        .tab-ap 
        {
            margin-top: 10px;
            margin-left: 10px;
            padding: 2px 2px 2px 2px;
            overflow: hidden;
            background-color: var(--applegrey);
            border-radius: 10px;
            width: -webkit-fit-content;
        }

            .tab-ap button {
                border-radius: 10px;
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                min-width: 145px;
                min-height: 25px;
                font-size: 12px;
            }

            /* Change background color of buttons on hover */
            .tab-ap button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
                .tab-ap button.active-selected {
                    background-color: white;
                    border-color: none;
                    color: black;
                    border-radius: 10px;
                }


/* Add animation (fade in the popup) */
@@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*datepicker*/
        input[type="date"]::-webkit-calendar-picker-indicator {
            background-image: url('');
          
        }

    </style>

</head>
<body>
    <section class="content-header" id="headerpanel">
        <h1 style="font-size:43px">
            <strong>Search</strong>
        </h1>
 
    </section>
        <section class="content container-fluid">
            <div id="overlay" style="display: none">
                <div id="loader"></div>
            </div>


            <form id="_form">
                <div style="position:relative;border:0;padding:0;margin:0;">
                    <select class="form-control form-search-cp" id="select" style="padding-left:10px;">
                        <option value="">Search</option>
                        <option value="ID">ID Number</option>
                        <option value="Name">Name</option>
                    </select>
                    <input class="form-control" style="padding-left: 90px; background-color: #EEEEEF" type="text" placeholder="Leave Blank to Search All, Search Function is open to - ID Number, Name" id="id" name="id">
                </div>


                <div class="box-header">
                    <div class="col-sm-4 nopadding">
                        <div class="row-cp" style="padding-top:15px; padding-right:15px">
                            <div class="col-sm-4 nopadding">Search From</div>
                            <div class="col-sm-8  ">
                                <div class="field-wrp">
                                    <div class="btn-wrp">
                                        <input id="txtSearch" style="display: flex; align-items: center; background-color:transparent" class="form-control" type="date" />
                                    </div>
                                    <button class="btn-icon"><span class="fa fa-calendar"></span></button>
                                </div>
                               
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 nopadding">
                        <div class="row-cp" style="padding-top:15px; padding-right:15px;">
                            <div class="col-sm-4 nopadding">Search Until</div>
                            <div class="col-sm-8 ">
                                <div class="field-wrp">
                                    <div class="btn-wrp">
                                        <input id="txtSearch" style="display: flex; align-items: center; background-color:transparent" class="form-control" type="date" />
                                    </div>
                                    <button class="btn-icon"><span class="fa fa-calendar"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="border-bottom-cp">
                    <h4><strong>History</strong></h4>
                </div>

                <div class="box-header">
                    <div id="DIV-LVL" style="margin-top:10px;">
                        <button class="btn-lvl btn-rounded active-btn-selected" hidden> </button>
                        <button class="btn-lvl btn-rounded"> Level 1</button>
                        <button class="btn-lvl btn-rounded"> Level 2</button>
                        <button class="btn-lvl btn-rounded"> Level 3</button>
                        <button class="btn-lvl btn-rounded"> Level 4</button>
                        <button class="btn-lvl btn-rounded"> Quant</button>
                        <button class="btn-lvl btn-rounded"> Ultron Pro</button>
                        <!--<button class="btn1 btn-rounded"><i class="fa fa-user-circle-o"></i> Biometric</button>-->
                    </div>
                </div>
                <script>
                    // Add active class to the current button (highlight it)
                    var header = document.getElementById("DIV-LVL");
                    var btns = header.getElementsByClassName("btn-lvl");
                    for (var i = 0; i < btns.length; i++) {
                        btns[i].addEventListener("click", function () {
                            var current = document.getElementsByClassName("active-btn-selected");
                            current[0].className = current[0].className.replace(" active-btn-selected", "");
                            this.className += " active-btn-selected";
                            if (this.innerText == "Level 1") {
                                if ($('#id').val() != "" && $('#select').val() == "") {
                                    //myPopup("Please select Type", true);

                                    $('#7days').html("");;
                                }
                                else {
                                    //myPopup("", false);
                                    GeteKYC();
                                }
                            }
                            else {
                                $("#7days").html("");
                            }

                        });

                    }
                </script>
            </form>
            <div class="tab-ap" >
                <button id="default7days" class="tablinks" onclick="openPeriod(event, '7days')">7 Days</button>
                <button class="tablinks" onclick="openPeriod(event, '14Days')">14 days</button>
                <button class="tablinks" onclick="openPeriod(event, '21days')">21 days</button>
                <button class="tablinks" onclick="openPeriod(event, '21daysmore')">> 21 days</button>

            </div>

            <div class="box-body">
                <div id="7days" class="tabcontent animate-bottom">

                </div>
                <div id="14Days" class="tabcontent animate-bottom">
                    <div class="box-header with-border">
                        <i class="fa fa-wrench"></i> Under Contrustion
                    </div>
                </div>

                <div id="21days" class="tabcontent animate-bottom">
                    <div class="box-header with-border">
                        <i class="fa fa-wrench"></i> Under Contrustion
                    </div>

                </div>
                <div id="21daysmore" class="tabcontent animate-bottom">
                    <div class="box-header with-border">
                        <i class="fa fa-wrench"></i> Under Contrustion
                    </div>
                </div>
            </div>

        </section>
</body>
</html>
<script>
    $('#nav-link').attr("href", "eKYCSearch")
    $('#nav-name').text("e-KYC");

    $("#id").on('keyup', function (e) {
        if ($("#id").val() == "")
            {
            $("select").prop('required', false);
        }
        else {
            $("select").prop('required', true);
        }
        }
    );

    $("#_form").submit(function (e) {
        e.preventDefault();
    });

    $(document).ready(function () {
        document.getElementById('default7days').click();
    
    });



    function openPeriod(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active-selected", " ");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active-selected";
    }

    function GeteKYC() {
        loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCSearchList", "eKYC")',
                data: {
                    Name: $('#id').val()
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#7days').html("");
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);
                        }
                        else {
                            var list_html = '';
                            for (var i = 0; i < 3; i++) {

                                result = result.replace(/myChart/g, "myChart" + i.toString());
                                console.log(result);
                                list_html += result;
                            }
                            //$("#7days").html(list_html);
                            $("#7days").html(result);
                        }
                    loader("OFF");
                }
            }
        );
    }
</script>
