@model OneFin.Models.CFCustomer
<section class="content">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="box-cp" style="border-radius: 20px; border:1px solid #ccc; ">
                <div class="inner" style="min-height: 300px; padding-left: 20px; display: flex; align-items: center;">
                    <img style="width: 200px; height: 200px; justify-content: right" class="img-circle" src="/sampleimg/images.jpg" />
                    <div class="col-lg-6">
                        <h4>Baseline Photo</h4>
                        Source: <br /> <label> NATIONAL IDENTITY CARD</label><br />
                        Date Taken: <br /><label> 01-Dec-2021</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-cp" style="border-radius: 20px; border:1px solid #ccc; ">
                <div class="inner" style="min-height: 300px; padding-left: 20px; display: flex; align-items: center;">
                    <img style="width: 200px; height: 200px; justify-content: right" class="img-circle" src="@Html.DisplayFor(model => model.IMGSource)" />
                    <div class="col-lg-6">
                        <h4>Profile Avatar</h4>
                        Comparison: <br /> <label> NATIONAL IDENTITY CARD</label><br />
                        Image Percentage: <br /><label>10%</label><br />
                        Location Taken: <br /><label> 111.3444,0555</label><br />
                        Date Taken: <br /><label> 01-Dec-2021</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>