@model OneFin.Models.CFCustomer
<section class="content" style="display: flex ;justify-content: center; align-items: center;">
    <div class="row" >
        <div class="col-lg-6" >
            <div class="box-cp" style="border-radius: 20px; border: 1px solid #ccc; margin: 10px 0 10px 0 ">
                <div class="inner" style="min-height: 300px; min-width: 300px; padding: 20px 20px 20px 20px; display: flex; align-items: center; justify-content: center ">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 180px; height: 180px;" class="img-circle" src="/sampleimg/images.jpg" />
                        </div>
                        <div class="col-lg-6">
                            <div style="font-size:12px; ">
                                <h4>Baseline Photo</h4>
                                Source: <br /> <label> NATIONAL IDENTITY CARD</label><br />
                                Date Taken: <br /><label> 01-Dec-2021</label>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
        </div>
        <div class="col-lg-6">
            <div class="box-cp" style="border-radius: 20px; border: 1px solid #ccc; margin: 10px 0 10px 0 ">
                <div class="inner" style="min-height: 300px; min-width:300px; padding:20px 20px 20px 20px; ; display: flex; align-items: center; justify-content:center">
                    <div class="row">
                        <div class="col-lg-6">
                            <img style="width: 180px; height: 180px;" class="img-circle" src="@Html.DisplayFor(model => model.IMGSource)" />
                        </div>
                        <div class="col-lg-6">
                            <div style="font-size: 12px;">
                                <h4>Profile Avatar</h4>
                                Comparison: <br /> <label> NATIONAL IDENTITY CARD</label><br />
                                Image Percentage: <br /><label>10%</label><br />
                                Location Taken: <br /><label> 111.3444,0555</label><br />
                                Date Taken: <br /><label> 01-Dec-2021</label>
                            </div>
                        </div>
                    </div>
                    
                </div>

                    </div>
                </div>
    </div>
</section>