<!DOCTYPE html>
<style>


</style>

<html>

<body>
    <div class="select">
        <select name="slct" id="slct">
            <option> Computer Science Subjects</option>
            <option value="1"> Operating System</option>
            <option value="2"> Computer Networks</option>
            <option value="3"> Data Structure</option>
            <option value="4"> Algorithm</option>
            <option value="5"> C programming</option>
            <option value="6"> JAVA</option>
        </select>
    </div>
</body>
</html>