@model OneFin.Models.TransactionMaster

@{
    ViewData["Title"] = "Details";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <i class="fa fa-list"></i> Transaction Master
    </h1>
    <ol class="breadcrumb">
        <li><a href="/home/index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Security/TransactionMaster/index"><i class="fa fa-list"></i> Transaction Master</a></li>
        <li class="active"> Delete</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Detail</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form asp-action="Edit" class="form-horizontal" method="get">
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Module)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Module)
                    </dd>
                    <dt>
                        Module Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TransactionName)
                    </dd>
                    <dt>
                        User Role
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Role)
                    </dd>
                </dl>
                <div class="box-footer">
                    <input type="hidden" asp-for="ID" />
                    <button type="submit" class="btn btn-info pull-right">Edit</button>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>